*,
html {
	scroll-behavior: smooth;
}

/* add image as background */
.landing-bg {
	background-image: url("https://images.pexels.com/photos/413885/pexels-photo-413885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100dvh;
	width: 100%;
	position: relative;
	/* align-items: center; */
	justify-content: center;
}

.hero {
	display: flex;
	flex-direction: column;
	min-width: 800px;
	margin: 0 auto;
	gap: 0.5em;
}

@media (max-width: 850px) {
	.hero {
		margin: 0 20px;
		font-size: 0.6rem;
	}
}

/* styles for navbar  */
#navbar {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 1000;
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr 1fr; */
}

#services {
	max-width: 800px;
	margin: 0 auto;
}

#contactanos {
	background-color: #242921;
	color: white;
	padding: 50px 0;
}

.contactanos {
	max-width: 800px;
	margin: 0 auto;
}

.phrase-section-image {
	object-fit: cover;
	/* width: 100%; */
	max-height: 90%;
	max-width: 100%;
	opacity: 0.2;
	object-position: center;
}

.contact-image-container {
	width: 300px;
	/* height: 500px; */
	position: relative;
	border-top-left-radius: 45%;
	border-top-right-radius: 45%;
	overflow: hidden;
}

.divider {
	height: 70px;
	background-color: #191b16;
}

#products {
	background-color: #191b16;
	min-height: 100dvh;
	color: white;
	padding: 50px 0;
}
